body, html {
	background-color: #1d3944;
	text-align: center;
}


#pfp {
	align-items: center;
}

#tag {
	text-align: center;
	color: #58907a;
	font-family: 'Press Start 2P';
	font-size: 20px;
}

ul {
	text-align: center;
	list-style-type: none
	align-items: right;
	margin-right: 30px;
}

u {
	color: #58907a;
}

li a {
	font-family: 'Press Start 2P';
	font-size: 10px;
	color: #58907a;
	padding-right: 20px;

}

a {
	text-decoration: underline;
	color: #58907a;
}

li {
	display: inline;
}

body, html {
  height: 90%;
  display: grid;
}
#mid-content { /* thing to center */
width: 450px; margin: auto; text-align: center;
}

body {
	min-width: 500px; text-align: center;
}

span {
	margin: auto;
}

p {
		text-align: left;
	color: #58907a;
	font-family: 'Press Start 2P';
	font-size: 10px;
	line-height: 22px;
}

#about {
	padding-top: 50px ;
	padding-bottom: 70px ;
	padding-left: 10px;
	padding-right: 10px;
}

#backpage {
	position: absolute;
	top: 10px;
	left: 20px;

}

#backpage p{
	font-size: 13px;
}

#big{
	font-size: 20px;
}
